<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combos</title>
    <link rel="stylesheet" href="combos.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        // Mapeamento dinâmico de ingredientes por produto, gerado pelo backend
        var ingredientesPorProduto = {};
        @{
            var produtos = ViewBag.Produtos as List<TotemPWA.Models.Product>;
            var categorias = ViewBag.Categorias as List<TotemPWA.Models.Category>;
            var categoriaCombos = categorias?.FirstOrDefault(c => c.Slug == "combos");
            var combos = produtos?.Where(p => p.CategoryId == categoriaCombos?.Id).ToList() ?? new List<TotemPWA.Models.Product>();
        }
        @foreach (var produto in produtos)
        {
            var adicionais = produto.Additionals != null ? produto.Additionals.ToList() : new List<TotemPWA.Models.Additional>();
            <text>
            ingredientesPorProduto[@produto.Id] = [
                @string.Join(",", adicionais.Select(a => {
                    var ing = a.Ingredient;
                    if (ing == null) return "";
                    return $"{{id: {ing.Id}, nome: '{ing.Name}', preco: {ing.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)}, limite: {ing.Limit}}}";
                }).Where(s => !string.IsNullOrEmpty(s)))
            ];
            </text>
        }
    </script>

    <div class="main">
        <div class="banner">
            <img src="~/img/telainicialmolhos.png">
            <div class="buttons">
                <button class="button"><img class="~/img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
            <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/menuburguerimage.png">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/combos.png">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/sobremesa.png">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/bebidas.png">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/batata.png">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/molhos.png">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/cupom.png">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Simples</a>
                        <a href="">Casal</a>
                        <a href="">Familia</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        @foreach (var produto in combos)
                        {
                            <div class="pedido-item" data-id="@produto.Id" data-categoria="@produto.CategoryId" data-descricao="@produto.Description" onclick="abrirModalEditar(this)">
                                <img class="pedido-imagem" src="/@produto.Image" alt="@produto.Name">
                                <h3 class="pedido-titulo">@produto.Name</h3>
                                <h4 class="pedido-preco">R$ @produto.Price.ToString("N2")</h4>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>