@{
    var produtos = ViewBag.Produtos as List<TotemPWA.Models.Product>;
    var promocoes = produtos?.Where(p => p.Promotions != null && p.Promotions.Any()).ToList() ?? new List<TotemPWA.Models.Product>();
}
<div class="container-categoria">
    <div class="nav-categorias">
        <a href="#" class="active" data-categoria="todos">Todos</a>
        <a href="#" data-categoria="lanches">Lanches</a>
        <a href="#" data-categoria="bebidas">Bebidas</a>
        <a href="#" data-categoria="sobremesas">Sobremesas</a>
    </div>
</div>
<div class="pedido">
    <div class="pedido-grid">
        @foreach (var produto in promocoes)
        {
            <div class="pedido-item" data-id="@produto.Id" data-categoria="@produto.CategoryId" onclick="abrirModalEditar(this)">
                <img class="pedido-imagem" src="/@produto.Image" alt="@produto.Name">
                <h3 class="pedido-titulo">@produto.Name</h3>
                <h4 class="pedido-preco">R$ @produto.Price.ToString("N2")</h4>
            </div>
        }
    </div>
</div>