@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var produtos = ViewBag.Produtos as List<TotemPWA.Models.Product>;
    var sobremesas = produtos?.Where(p => p.Category?.Slug == "sobremesas").ToList() ?? new List<TotemPWA.Models.Product>();
}
<div class="container-categoria">
    <div class="nav-categorias">
        <a href="#" class="active" data-categoria="todos">Todos</a>
        <a href="#" data-categoria="sorvetes">Sorvetes</a>
        <a href="#" data-categoria="milkshakes">Milk Shakes</a>
        <a href="#" data-categoria="doces">Doces</a>
    </div>
</div>
<div class="pedido">
    <div class="pedido-grid">
        @foreach (var produto in sobremesas)
        {
            <div class="pedido-item" data-id="@produto.Id" data-categoria="@produto.CategoryId" onclick="abrirModalEditar(this)">
                <img class="pedido-imagem" src="/@produto.Image" alt="@produto.Name">
                <h3 class="pedido-titulo">@produto.Name</h3>
                <h4 class="pedido-preco">R$ @produto.Price.ToString("N2")</h4>
            </div>
        }
    </div>
</div>